{% extends "layout/front.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <section id="post-create">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ post.title }}</h2>
                    <hr class="star-primary">
                    <h4>{{ post.header }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="post-content">
                        <p class="text-justify">
                            {{ post.content|nl2br }}
                        </p>
                    </div>
                    <div class="post-details">
                        <p>Publié le {{ post.publication|date("d/m/Y") }} par <u>{{ post.author }}</u></p>
                        <p>{% if post.publication|date('Ymd') < post.lastupdate|date('Ymd') %}Dernière édition le {{ post.lastupdate|date("d/m/Y") }}{% endif %}</p>
                        <hr>
                        <p class="text-right">
                            <a href="/edit/{{ post.id }}" class="btn btn-sm btn-default">Editer ce post</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}